h3, h4, h5, .button, .header .logo .title .logo-title, .card .pet-name, .button-pagignator {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}

.header .logo .subtitle, .header .nav-menu .nav-list .nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:link, a:visited {
  color: inherit;
}

body {
  height: auto;
  width: auto;
}

h1 {
  letter-spacing: 0.06em;
  line-height: 110%;
}

h2 {
  font-size: 44px;
  margin: 0px;
  line-height: 130%;
}

h3 {
  font-size: 35px;
  color: color-dark-1;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0px;
}

h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
  color: #F1CDB3;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0px;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border-radius: 100px;
  height: 52px;
  color: #292929;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: #F1CDB3;
}

.button-primary:hover {
  background-color: #FDDCC4;
}

.button-secondary {
  border: 2px solid #F1CDB3;
  background-color: transparent;
  width: 187px;
}

.button-secondary:hover {
  background-color: #FDDCC4;
}

.button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  font-weight: bold;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.button-arrow:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.header-container {
  width: auto;
  height: 120px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 60px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 184px;
  height: 60px;
  color: #545454;
}

.header .logo .title {
  width: 184px;
  height: 35px;
  left: 0px;
  top: calc(50% - 35px/2 - 12.5px);
}

.header .logo .title .logo-title {
  font-size: 32px;
  margin: 0px;
  line-height: 110%;
  letter-spacing: 0.053em;
  text-align: justify;
}

.header .logo .subtitle {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
  text-align: center;
}

.header .nav-menu {
  width: 443px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-menu .nav-list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}

.header .nav-menu .nav-list .nav-item {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.header .nav-menu .nav-list .nav-item-active {
  color: #292929;
  border-bottom: #F1CDB3 solid 3px;
}

.header .nav-menu .nav-list .nav-item-active a:hover {
  cursor: default;
}

.pets {
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1342px;
  background-color: #F6F6F6;
  padding-top: 80px;
}

.pets .pets-content {
  width: 1200px;
  height: 1162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 0px;
}

.pets .pets-content .heading {
  width: 400px;
  height: 90px;
  text-align: center;
}

.pets .pets-content .cards-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 930px;
  margin: 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0px;
  gap: 30px 40px;
}

.card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .button {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px #d5e0a8;
          box-shadow: 0px 0px 5px 1px #d5e0a8;
  background-color: #F1CDB3;
}

.card:hover .button:hover {
  background-color: #FDDCC4;
}

.card .pet-name {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card .pet-img {
  width: 270px;
  height: 270px;
}

.navigation {
  margin: 0px auto;
  width: 340px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-pagignator {
  width: 52px;
  height: 100%;
  border-radius: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: inherit;
  border: 2px solid #F1CDB3;
  color: #292929;
  font-size: 20px;
}

.button-pagignator.inactive {
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.button-pagignator.inactive:hover {
  cursor: default;
}

.button-pagignator.active {
  background-color: #F1CDB3;
}

.button-pagignator.active:hover {
  cursor: default;
}

.button-pagignator.available:hover {
  background-color: #FDDCC4;
}

footer {
  width: auto;
  height: 310px;
  background-image: url(../../assets/images/footer-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 40px;
}

footer .footer-content {
  width: 1200px;
  height: 310px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .footer-info-box {
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 16px;
}

footer .footer-content .footer-info-box .title {
  color: #FFFFFF;
}

footer .footer-content .contacts {
  width: 279px;
}

footer .footer-content .locations {
  width: 302px;
}

footer .footer-content .footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
}

footer .footer-content .footer-icon {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */