html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h3, h4, h5, .button, .not-only .header .logo .title .logo-title, .not-only .content h2, .card .pet-name, .help .help-content .heading, .help .help-content .list .list-item .text, .donation .donation-content .content .credit-card .credit-card-number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}

.not-only .header .logo .subtitle, .not-only .header .nav-menu .nav-list .nav-item, .not-only .content p, .about .about-content .content .subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

.donation .donation-content .content .legal-information {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:link, a:visited {
  color: inherit;
}

body {
  height: auto;
  width: auto;
}

h1 {
  letter-spacing: 0.06em;
  line-height: 110%;
}

h2 {
  font-size: 44px;
  margin: 0px;
  line-height: 130%;
}

h3 {
  font-size: 35px;
  color: color-dark-1;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
  color: #F1CDB3;
}

h5 {
  font-size: 15px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0px;
}

.button {
  border-radius: 100px;
  height: 52px;
  color: #292929;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: #F1CDB3;
}

.button-primary:hover {
  background-color: #FDDCC4;
}

.button-secondary {
  border: 2px solid #F1CDB3;
  background-color: transparent;
  width: 187px;
}

.button-secondary:hover {
  background-color: #FDDCC4;
}

.button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  font-weight: bold;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.button-arrow:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.not-only {
  position: relative;
  background-image: url("../../assets/images/start-screen-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 908px;
}

@media (max-width: 1279px) {
  .not-only {
    width: auto;
    height: auto;
    background-image: url("../../assets/images/start-screen-background-768.jpg");
  }
}

@media (max-width: 767px) {
  .not-only {
    background-image: url("../../assets/images/start-screen-gradient-background-320px.png");
  }
}

.not-only .wrapper {
  max-width: 1200px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1279px) {
  .not-only .wrapper {
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .not-only .wrapper {
    padding: 30px 10px 0;
  }
}

.not-only .start-screen-content {
  max-width: 1200px;
  height: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

@media (max-width: 1279px) {
  .not-only .start-screen-content {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: auto;
  }
}

.not-only .start-screen-content .start-screen-puppy {
  max-width: 100%;
  min-width: 260px;
  height: auto;
}

@media (max-width: 1279px) {
  .not-only .start-screen-content .start-screen-puppy {
    width: 100%;
    height: auto;
    margin-left: 140px;
  }
}

@media (max-width: 767px) {
  .not-only .start-screen-content .start-screen-puppy {
    margin-left: 40px;
  }
}

.not-only .start-screen-content .content {
  margin-top: 163px;
  margin-bottom: 243px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .not-only .start-screen-content .content {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .not-only .start-screen-content .content {
    margin-bottom: 105px;
  }
}

.not-only .header {
  height: 60px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .not-only .header {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .not-only .header {
    margin: 0 43px 0 0;
    width: calc(100% - 43px);
  }
}

.not-only .header .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 184px;
  height: 60px;
  color: #F1CDB3;
}

.not-only .header .logo .title {
  width: 184px;
  height: 35px;
  left: 0px;
  top: calc(50% - 35px/2 - 12.5px);
}

.not-only .header .logo .title .logo-title {
  font-size: 32px;
  margin: 0px;
  line-height: 110%;
  letter-spacing: 0.053em;
  text-align: justify;
}

.not-only .header .logo .subtitle {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
}

.not-only .header .nav-menu {
  width: 443px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .not-only .header .nav-menu {
    display: none;
  }
}

.not-only .header .nav-menu .nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}

.not-only .header .nav-menu .nav-list .nav-item {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.not-only .header .nav-menu .nav-list .nav-item-active {
  color: #FAFAFA;
  border-bottom: #CDCDCD solid 3px;
}

.not-only .burger {
  width: 30px;
  height: 22px;
  display: none;
  transition: all 0.5s;
}

.not-only .burger.opened {
  transform: rotate(90deg);
}

.not-only .burger .line {
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}

@media (max-width: 767px) {
  .not-only .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
  }
}

.not-only .content {
  width: 460px;
  height: 322px;
}

@media (max-width: 767px) {
  .not-only .content {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
  }
}

.not-only .content h2 {
  width: 310px;
  height: 114px;
  color: white;
}

@media (max-width: 767px) {
  .not-only .content h2 {
    font-size: 25px;
    letter-spacing: 0.06em;
    width: 250px;
    text-align: center;
    height: 64px;
  }
}

.not-only .content p {
  width: 460px;
  height: 72px;
  color: #CDCDCD;
  font-size: 15px;
  line-height: 160%;
}

@media (max-width: 767px) {
  .not-only .content p {
    width: 300px;
    height: auto;
    text-align: center;
    margin: 0;
  }
}

.not-only .content .button {
  width: 207px;
}

@media (max-width: 1279px) {
  .not-only .content .button {
    display: flex;
    align-self: center;
  }
}

.not-only img {
  width: 698px;
  height: 728px;
}

.about {
  width: 1280px;
  height: 588px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
}

@media (max-width: 1279px) {
  .about {
    width: auto;
    height: auto;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 42px 0;
  }
}

.about img {
  width: 300px;
  height: 408px;
  margin-left: 175px;
}

@media (max-width: 1279px) {
  .about img {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .about img {
    width: 260px;
    height: auto;
    margin-top: 42px;
  }
}

.about .about-content {
  width: 1200px;
  height: 408px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
}

@media (max-width: 1279px) {
  .about .about-content {
    flex-direction: column-reverse;
    width: auto;
    height: auto;
    margin-top: 0;
  }
}

.about .about-content .content {
  width: 430px;
  height: 380px;
  margin-left: 120px;
  margin-right: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .about .about-content .content {
    margin: 0 0 80px;
  }
}

@media (max-width: 767px) {
  .about .about-content .content {
    width: auto;
    height: auto;
    padding: 0 25px;
    row-gap: 23px;
    margin: auto;
  }
}

.about .about-content .content .heading {
  width: 360px;
  height: 90px;
}

@media (max-width: 767px) {
  .about .about-content .content .heading {
    width: 260px;
    height: 64px;
    text-align: center;
    margin: auto;
  }
  .about .about-content .content .heading h3 {
    font-size: 25px;
  }
}

.about .about-content .content .subheading {
  max-width: 430px;
  height: auto;
  line-height: 160%;
}

@media (max-width: 767px) {
  .about .about-content .content .subheading {
    text-align: justify;
  }
}

.pets {
  width: 100vw;
  height: 797px;
  background-color: #F6F6F6;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .pets {
    padding-top: 42px;
    padding-bottom: 42px;
    height: auto;
  }
}

.pets .pets-content {
  height: 697px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .pets .pets-content {
    height: auto;
  }
}

.pets .pets-content .button {
  height: 52px;
}

.pets .pets-content .heading {
  width: 400px;
  height: 90px;
  text-align: center;
  margin: 0px auto 60px;
}

@media (max-width: 767px) {
  .pets .pets-content .heading {
    margin-bottom: 42px;
    width: 300px;
    height: 64px;
  }
}

.pets .pets-content .slider {
  height: 435px;
  margin: 0px auto 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .pets .pets-content .slider {
    margin-bottom: 20px;
  }
}

.pets .pets-content .button-primary {
  width: 261px;
  height: 52px;
}

.pets .pets-content .button-primary:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.for-small-screen {
  display: none;
}

@media (max-width: 767px) {
  .for-small-screen {
    display: flex;
    width: 184px;
    justify-content: space-between;
    margin-bottom: 42px;
  }
}

.card-container {
  display: flex;
  gap: 90px;
  justify-content: space-between;
  margin: 0 53px;
}

@media (max-width: 1279px) {
  .card-container {
    gap: 40px;
    margin: 0 12px;
  }
  .card-container .card:nth-last-child(-n+1) {
    display: none;
  }
}

@media (max-width: 767px) {
  .card-container .card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .for-big-screen {
    display: none;
  }
}

.card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .button {
  border: none;
  box-shadow: 0px 0px 5px 1px #d5e0a8;
  background-color: #F1CDB3;
}

.card:hover .button:hover {
  background-color: #FDDCC4;
}

.card .pet-name {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card .pet-img {
  width: 270px;
  height: 270px;
}

.help {
  width: auto;
  padding: 80px 0 100px;
}

@media (max-width: 767px) {
  .help {
    padding: 42px 15px;
  }
}

.help .help-content {
  margin: 0px auto;
  padding: 0 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1279px) {
  .help .help-content {
    padding: 0;
  }
}

.help .help-content .heading {
  width: 312px;
  height: 90px;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .help .help-content .heading {
    width: 225px;
    height: 64px;
    margin-bottom: 42px;
  }
}

.help .help-content .list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;
}

@media (max-width: 1279px) {
  .help .help-content .list {
    column-gap: 60px;
  }
}

@media (max-width: 767px) {
  .help .help-content .list {
    gap: 30px 30px;
    justify-content: start;
  }
}

.help .help-content .list .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 113px;
}

@media (max-width: 1279px) {
  .help .help-content .list .list-item {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .help .help-content .list .list-item {
    width: 130px;
    height: 87px;
  }
}

@media (max-width: 767px) {
  .help .help-content .list .list-item img {
    width: 50px;
    height: 50px;
  }
}

.help .help-content .list .list-item .text {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.056em;
}

@media (max-width: 767px) {
  .help .help-content .list .list-item .text {
    font-size: 15px;
    line-height: 110%;
  }
}

.donation {
  width: auto;
  background-color: #F6F6F6;
  padding: 80px 182px 100px 183px;
}

@media (max-width: 767px) {
  .donation {
    padding: 42px 0;
  }
}

.donation .donation-content {
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1279px) {
  .donation .donation-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.donation .donation-content .donation-dog-img {
  width: 505px;
  height: 261px;
}

@media (max-width: 767px) {
  .donation .donation-content .donation-dog-img {
    width: 260px;
    height: 135.2px;
  }
}

.donation .donation-content .content {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .donation .donation-content .content {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .donation .donation-content .content {
    width: 300px;
    height: 281px;
    align-items: center;
    margin-bottom: 42px;
  }
}

.donation .donation-content .content .legal-information {
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
}

@media (max-width: 767px) {
  .donation .donation-content .content .legal-information {
    text-align: justify;
    width: 280px;
  }
}

.donation .donation-content .content .heading {
  width: 300px;
}

@media (max-width: 767px) {
  .donation .donation-content .content .heading {
    width: 220px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .donation .donation-content .content .subheading {
    line-height: 160%;
    letter-spacing: normal;
  }
}

.donation .donation-content .content .credit-card {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
  .donation .donation-content .content .credit-card {
    width: 281px;
  }
}

.donation .donation-content .content .credit-card .credit-card-img {
  width: 30px;
  height: 23px;
}

.donation .donation-content .content .credit-card .credit-card-number {
  color: #545454;
}

@media (max-width: 767px) {
  .donation .donation-content .content .credit-card .credit-card-number {
    font-size: 15px;
    line-height: 110%;
  }
}

.credit-card-link {
  text-decoration: none;
}

footer {
  background-image: url(../../assets/images/footer-background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 40px 30px 0;
}

@media (max-width: 1279px) {
  footer {
    background-image: url(../../assets/images/footer-background-768px.png);
    background-size: 100% 100%;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 30px 10px 0;
  }
}

footer .footer-content {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1279px) {
  footer .footer-content {
    column-gap: 60px;
    row-gap: 65px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  footer .footer-content {
    row-gap: 40px;
  }
}

footer .footer-content .footer-info-box {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
}

@media (max-width: 1279px) {
  footer .footer-content .footer-info-box {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  footer .footer-content .footer-info-box {
    height: auto;
    row-gap: 40px;
    align-items: center;
  }
}

footer .footer-content .footer-info-box .title {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  footer .footer-content .footer-info-box .title {
    text-align: center;
    width: 279px;
  }
}

footer .footer-content .contacts {
  width: 279px;
}

footer .footer-content .locations {
  width: 302px;
}

footer .footer-content .footer-contacts {
  display: flex;
  align-items: center;
}

footer .footer-content .footer-icon {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .london {
    text-align: start;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .footer-puppy {
    width: 260px;
    height: 269px;
  }
}

.nav-link-active:hover {
  cursor: default;
}

@media (max-width: 767px) {
  .location-row {
    display: flex;
    align-self: start;
  }
}

.mobile-menu {
  width: 320px;
  height: 100vh;
  top: 0;
  right: -320px;
  padding-top: 30px;
  background-color: #292929;
  position: absolute;
  transition: right 5s;
  transition-duration: 5000ms;
}

.mobile-menu.active {
  display: block;
  color: red;
  right: 0px;
  z-index: 5;
}

.dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.darkened {
  background-color: rgba(41, 41, 41, 0.6);
}

.footer-puppy {
  transition-duration: 3s;
}

.footer-puppy:active {
  display: none;
}
/*# sourceMappingURL=style.css.map */